:root{
    --dark: #1A2238;
    --blue: #9DAAF2;
    --orange: #FF6A3D;
    --yellow: #F4DB7D;
    --light: #E1E2E2;
    
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark);
    line-height: 1.5;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

header{
    display: inline-block;
    align-items: center;
    background-color: var(--dark);
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--light);
    font-size: xx-large;
    font-weight: 900;
}

nav{
    line-height: 2;
}

nav ul{
    list-style-type: none;
    display:flex;
    margin-left: 50%;
    justify-content: space-between;
}

nav li a{
    text-decoration: none;
    font-weight: 500;
    font-size: large;
    color: var(--blue);
}

section{
    background-color: #E1E2E5;
}

h2{
    color: var(--orange);
    display: block;
    font-size: x-large;
    font-weight: 800;
}

#photo{
    max-width: 10%;
    height: auto;
    margin: 5px;
}

#about{
    display: flex;
    align-items: center;
}
.applications{
    display:flex;
    flex-wrap: wrap;
}

.card-main{
    flex: 1 0 85%;
    height: 400px;
    flex-wrap:nowrap;
    margin: 2% 5%;
    background-image: url("https://images.unsplash.com/photo-1679189789333-cf24f75b0de7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80");
    background-size: cover;
    padding: 10px;
    border-color: var(--orange); 
    border-style: solid;
    border-width: 5px;
    max-height: 10%;
}

.card-sub{
    flex: 1 0 550px;
    margin: 2.5% 5%;
    padding:10px;
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1681852287086-daa5deee6175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
    background-size: cover;
    border-color: var(--orange); 
    border-style: solid;
    border-width: 3px;
}

.three{
    background-image: url("https://images.unsplash.com/photo-1676675356577-ccdb5bec1f0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
}

.four{
    background-image: url("https://images.unsplash.com/photo-1676594037928-4ae848ffec58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80");
}

.five{
    background-image: url("https://images.unsplash.com/photo-1675518806026-53201020ef09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80");
}

.card-main a{
    text-decoration: none;
    font-weight: 800;
    font-size: x-large;
    color: var(--dark);
    margin:  0 0 0 10%;
}

.card-sub a{
    text-decoration: none;
    font-weight: 800;
    font-size: x-large;
    margin:  0 0 0 10%;
    color: var(--light);
}
/*half width of computer*/
@media screen and (max-width: 992px) {
    header {
      background-color: var(--blue);
      color: black;
    }
    nav {
        background-color: var(--yellow);
      }
    nav ul{
        list-style-type: none;
        display:block;
        margin-left: 0%;
    }
    
    nav li a{
        color: var(--orange);
    }
    #photo{
        max-width: 40%;
        height: auto;
        margin: 0 30%;
    }
    #about{
        display: block;
        align-items: center;
    }
  }
  
  /* Large smartphones */
  @media screen and (max-width: 768px) {
    nav {
      background-color: var(--light);
    }
    .card-main{
        flex: 1 0 90%;
    }

    .card-sub{
        flex: 1 0 90%;
    }
  }
  